@font-face {
  font-family: 'Roboto mono semibold';
  src: url('fonts/RobotoMono-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto mono bold';
  src: url('fonts/RobotoMono-Bold.ttf') format('truetype');
}


/* HEADER */

p {
  font-family: 'Roboto mono semibold';
}

span {
  font-family: 'Roboto mono semibold';
}

header {
  padding: 0px !important;
}


#menu {
  height: 100px;
  padding: 0px;
}

#arg-prog {
  font-family: 'Roboto mono bold';
  font-weight: 700;
  font-size: 1.4rem;
}

#yo-prog {
  font-family: 'Roboto mono semibold';
  font-weight: 500;
  font-size: 1.3rem;
}

#texto-logo {
  padding-top: 4px;
}

#logo {
  margin: auto;
}

#texto-logo {
  margin: auto;
}

#texto-logo p {
  font-family: "plex sans bold";
  color: #191919;
  -webkit-text-stroke: 0.25px #191919;
}

/* HEADER END */


/* DESCRIPTION */

#descripcion {
  padding: 20px;
  border-bottom: 1px solid #dee2e6
}

#cont-acerca-de {
  background: #ffffff;
  margin: 0px;
}

#nombre {
  font-size: 1.8rem;
  font-weight: 700;
}

#full {
  font-size: 1.1rem;
  font-weight: 700;
}

#cont-descripcion p {
  font-size: 1.2rem;
}

#cont-descripcion h4 {
  font-weight: bold;
}

/* DESCRIPTION END */

/* EDUCACION */

#cont-titulo-educacion {
  width: 90% !important;
}

#educacion {
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dee2e6

}

.colum-img-educacion {
  margin: auto;
}

.cont-item-educacion {

  width: 90% !important;
  margin-bottom: 20px;
}

#titulo-educacion {
  color: #191919;
  font-size: 1.6rem;
  font-family: 'Roboto mono semibold';
  font-weight: 600;
}

.nombre-institucion {
  font-size: 1.4rem;
  font-weight: bold;
}

.anio-curso {
  font-size: 0.9rem;
}

.nombre-certificacion {
  font-size: 1.3rem;
}

.descripcion-curso {
  font-size: 1rem;
}

/* EDUACION END */

/* FOTO PERFIL */

#foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -7rem;
  margin-left: 46px;
}

/* PROYECTOS */

#cont-titulo-proyectos {
  width: 90% !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#titulo-proyectos {
  color: #191919;
  font-family: 'Roboto mono semibold';
  font-weight: 600;
  font-size: 1.6rem;
}

#descripcion-proyecto {
  margin-bottom: 10px;
}

.cont-item-proyecto {
  width: 90% !important;
  margin: auto;
  padding: 20px;

}

#proyectos {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #dee2e6

}

.proyecto-item {
  background: #ffffff;
  margin-bottom: 1.5rem;
}

#titulo-proyecto {
  font-size: 1.4rem;
  font-weight: bold;
}

.cont-item-educacion {
  padding: 0.5rem;
}

/* PROYECTOS END */

/* SKILLS */

#cont-titulo-skills {
  width: 90% !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#skills{
  border-bottom: 1px solid #dee2e6;
}

.item-progreso {
  padding: 7px;
}

#titulo-skills {
  font-weight: 600;
}

/* SKILLS END */

/* FOOTER */

#footer-desarrollador {
  margin: auto;
  font-family: 'Roboto mono semibold';
  font-weight: 500;
}

/* FOOTER END */

/* RESPONSIVE */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

  /* HEADER */

  #menu {
    height: 60px;
  }

  #nombre {
    font-size: 1.3rem;
  }

  #full {
    font-size: 0.6rem;
  }

  #cont-descripcion p {
    font-size: 0.7rem;
  }

  #cont-descripcion {
    text-align: center;
  }

  #logo {
    width: 36px;
    height: 36px;
  }

  #arg-prog {
    font-size: 0.5rem;
  }

  #yo-prog {
    font-size: 0.5rem;
  }

  #instagram {
    width: 25px;
    height: 25px;
  }

  #linkedin {
    width: 25px;
    height: 25px;
  }

  #login {
    width: 25px;
    height: 25px;
  }

  /* HEADER */
  /* EDUCACION */


  #educacion h3 {
    font-size: 1.1rem;
  }

  .nombre-institucion {
    font-size: 0.7rem;
  }

  .anio-curso {
    font-size: 0.4rem;
  }

  .nombre-certificacion {
    font-size: 0.6rem;
  }

  .descripcion-curso {
    font-size: 0.5rem;
  }

  .cont-img-educacion {
    width: 40px;
    height: 40px;
  }


  #titulo-educacion {
    font-size: 1.2rem;
  }

  /* EDUACION END */
  /* PROYECTOS */
  #titulo-proyecto {
    font-size: 0.9rem;
  }

  #descripcion-proyecto {
    font-size: 0.5rem;
  }

  #titulo-proyectos {
    font-size: 1.2rem;
  }

  .cont-item-educacion {
    padding: 0.8rem;
  }

  /* PROYECTOS END */
  /* SKILLS */

  #titulo-skills {
    font-size: 1.2rem;
  }

  /* SKILLS END */
  /* FOOTER */

  footer {
    height: 80px;
  }

  #footer-desarrollador {
    font-size: 0.5rem;
  }

  /* FOOTER END */
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

  /* HEADER */

  #menu {
    height: 70px;
  }

  #nombre {
    font-size: 1.4rem;
  }

  #full {
    font-size: 0.7rem;
  }

  #cont-descripcion p {
    font-size: 0.8rem;
  }

  #cont-descripcion {
    text-align: center;
  }

  #logo {
    width: 46px;
    height: 46px;
  }

  #arg-prog {
    font-size: 0.6rem;
  }

  #yo-prog {
    font-size: 0.6rem;
  }

  #instagram {
    width: 30px;
    height: 30px;
  }

  #linkedin {
    width: 30px;
    height: 30px;
  }

  #login {
    width: 30px;
    height: 30px;
  }

  /* HEADER END */
  /* EDUCACION */


  #educacion h3 {
    font-size: 1.2rem;
  }

  .nombre-institucion {
    font-size: 0.9rem;
  }

  .anio-curso {
    font-size: 0.5rem;
  }

  .nombre-certificacion {
    font-size: 0.8rem;
  }

  .descripcion-curso {
    font-size: 0.6rem;
  }

  .cont-img-educacion {
    width: 50px;
    height: 50px;
  }


  #titulo-educacion {
    font-size: 1.3rem;
  }

  /* EDUACION END */
  /* PROYECTOS */
  #titulo-proyecto {
    font-size: 1rem;
  }

  #descripcion-proyecto {
    font-size: 0.6rem;
  }

  #titulo-proyectos {
    font-size: 1.3rem;
  }

  .cont-item-educacion {
    padding: 0.9rem;
  }

  /* PROYECTOS END */
  /* SKILLS */

  #titulo-skills {
    font-size: 1.3rem;
  }

  /* SKILLS END */
  /* FOOTER */

  footer {
    height: 100px;
  }

  #footer-desarrollador {
    font-size: 0.6rem;
  }

  /* FOOTER END */
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

  /* HEADER */

  #menu {
    height: 80px;
  }

  #nombre {
    font-size: 1.5rem;
  }

  #full {
    font-size: 0.8rem;
  }

  #cont-descripcion p {
    font-size: 0.9rem;
  }

  #logo {
    width: 56px;
    height: 56px;
  }

  #arg-prog {
    font-size: 0.8rem;
  }

  #yo-prog {
    font-size: 0.8rem;
  }

  #instagram {
    width: 35px;
    height: 35px;
  }

  #linkedin {
    width: 40px;
    height: 40px;
  }

  #login {
    width: 40px;
    height: 40px;
  }

  /* HEADER END */
  /* EDUCACION */


  #educacion h3 {
    font-size: 1.3rem;
  }

  .nombre-institucion {
    font-size: 1.1rem;
  }

  .anio-curso {
    font-size: 0.6rem;
  }

  .nombre-certificacion {
    font-size: 1rem;
  }

  .descripcion-curso {
    font-size: 0.7rem;
  }

  .cont-img-educacion {
    width: 60px;
    height: 60px;
  }


  #titulo-educacion {
    font-size: 1.4rem;
  }

  /* EDUACION END */
  /* PROYECTOS */
  #titulo-proyecto {
    font-size: 1.1rem;
  }

  #descripcion-proyecto {
    font-size: 0.7rem;
  }

  #titulo-proyectos {
    font-size: 1.4rem;
  }

  .cont-item-educacion {
    padding: 1rem;
  }

  /* PROYECTOS END */
  /* SKILLS */

  #titulo-skills {
    font-size: 1.4rem;
  }

  /* SKILLS END */
  /* FOOTER */

  footer {
    height: 120px;
  }

  #footer-desarrollador {
    font-size: 0.7rem;
  }

  /* FOOTER END */
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {

  /* HEADER */

  #menu {
    height: 80px;
  }

  #nombre {
    font-size: 1.7rem;
  }

  #full {
    font-size: 1rem;
  }

  #cont-descripcion p {
    font-size: 1.1rem;
  }

  #logo {
    width: 66px;
    height: 66px;
  }

  #arg-prog {
    font-size: 1rem;
  }

  #yo-prog {
    font-size: 1rem;
  }

  #instagram {
    width: 40px;
    height: 40px;
  }

  #linkedin {
    width: 40px;
    height: 40px;
  }

  #login {
    width: 40px;
    height: 40px;
  }

  /* HEADER END */
  /* EDUCACION */


  #educacion h3 {
    font-size: 1.4rem;
  }

  .nombre-institucion {
    font-size: 1.2rem;
  }

  .anio-curso {
    font-size: 0.7rem;
  }

  .nombre-certificacion {
    font-size: 1.1rem;
  }

  .descripcion-curso {
    font-size: 0.8rem;
  }

  .cont-img-educacion {
    width: 70px;
    height: 70px;
  }


  #titulo-educacion {
    font-size: 1.5rem;
  }

  /* EDUACION END */
  /* PROYECTOS */
  #titulo-proyecto {
    font-size: 1.2rem;
  }

  #descripcion-proyecto {
    font-size: 0.8rem;
  }

  #titulo-proyectos {
    font-size: 1.5rem;
  }

  .cont-item-educacion {
    padding: 1.1rem;
  }

  /* PROYECTOS END */
  /* SKILLS */

  #titulo-skills {
    font-size: 1.5rem;
  }

  /* SKILLS END */
  /* FOOTER */

  footer {
    height: 140px;
  }

  #footer-desarrollador {
    font-size: 0.8rem;
  }

  /* FOOTER END */
}

/* Media Query for Large screens */
@media (min-width: 1281px) {

  /* HEADER */

  #menu {
    height: 90px;
  }

  #nombre {
    font-size: 1.8rem;
  }

  #full {
    font-size: 1.1rem;
  }

  #cont-descripcion p {
    font-size: 1.2rem;
  }

  #logo {
    width: 76px;
    height: 76px;
  }

  #arg-prog {
    font-size: 1.2rem;
  }

  #yo-prog {
    font-size: 1.2rem;
  }

  #instagram {
    width: 45px;
    height: 45px;
  }

  #linkedin {
    width: 45px;
    height: 45px;
  }

  #login {
    width: 45px;
    height: 45px;
  }

  /* HEADER END */
  /* EDUCACION */


  #educacion h3 {
    font-size: 1.5rem;
  }

  .nombre-institucion {
    font-size: 1.3rem;
  }

  .anio-curso {
    font-size: 0.8rem;
  }

  .nombre-certificacion {
    font-size: 1.2rem;
  }

  .descripcion-curso {
    font-size: 0.9rem;
  }

  .cont-img-educacion {
    width: 80px;
    height: 80px;
  }

  #titulo-educacion {
    font-size: 1.6rem;
  }

  .cont-item-educacion {
    padding: 1.2rem;
  }

  /* EDUACION END */
  /* PROYECTOS */
  #titulo-proyecto {
    font-size: 1.3rem;
  }

  #descripcion-proyecto {
    font-size: 0.9rem;
  }

  #titulo-proyectos {
    font-size: 1.6rem;
  }

  /* PROYECTOS END */
  /* SKILLS */

  #titulo-skills {
    font-size: 1.6rem;
  }

  /* SKILLS END */
  /* FOOTER */

  footer {
    height: 150px;
  }

  #footer-desarrollador {
    font-size: 0.9rem;
  }

  /* FOOTER END */
}

/* RESPONSIVE END */