<div id="descripcion" class="container">
    <div id="cont-acerca-de" class="row">
        <div id="cont-nombre-titulo"
            class="col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex flex-column align-items-center justify-content-around"
            style="padding: 0px;">
            <div id="cont-foto-perfil">
                <div id="foto-perfil">
                    <img src="./assets/foto-perfil.PNG" class="rounded-circle img-fluid">
                </div>
            </div>
            <span id="nombre">José Antille</span>
            <span id="full">Full Stack Developer</span>
        </div>
        <div id="cont-descripcion" class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <h2>Acerca de mi</h2>
            <span id="texto-descripcion">
                Estudiante avanzado de Tecnicatura en Desarrollo de Software, autodidacta de la vida, fanatico de matrix y la retro informática.
            </span>
        </div>
    </div>
</div>
